<h1>New Division</h1>

<%= error_messages_for :division %>

<% form_for(@division) do |f| %>
  <%= render :partial=>'form', :object=>f %>
  <p><%= f.submit "Create" %></p>
<% end %>

<p><%= link_to 'Back', divisions_path %></p>
