<h1>Markup Help</h1>
<table>
  <tr>
    <th>Text</th>
    <th>Markup</th>
  </tr>
  
  <tr>
    <td>*strong*</td>
    <td><strong>strong</strong></td>
  </tr>
  
  <tr>
    <td>_italics_</td>
    <td><i>italics</i></td>
  </tr>
    
  <tr>
    <td>"W":http://wiffled.com</td>
    <td><%= link_to 'W', 'http://wiffled.com' %></td>
  </tr>
  
  <tr>
    <td>* one <br/>* two</td>
    <td>
      <ul class="standard">
        <li>one</li>
        <li>two</li>
      </ul>
    </td>
  </tr>
  
  <tr>
    <td># one <br/># two</td>
    <td>
      <ol>
        <li>one</li>
        <li>two</li>
      </ol>
    </td>
  </tr>
</table>

<h3><%= link_to 'See More Examples', 'http://hobix.com/textile/quick.html', :target=>:blank %></h3>