<%- @page_title = 'Update a Logo' -%>
<h1>New Team Logo</h1>

<%= error_messages_for :logo %>

<% form_for(:logo, :url=>logos_path, :html=>{:multipart=>true}) do |f| %>
  <p>Select file<br/><%= f.file_field :uploaded_data %></p>
  <p><%= submit_tag 'Create' %></p>
<% end %>

<p><%= link_to 'Back', team_path(@team) %></p>